* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #f7f7f7;
}
/*Menu Bar*/
.menubar {
  background: #ccc;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  align-items: center;
}
.menubar .logo {
  font-family: cursive;
  font-size: 20px;
}
.menubar .account {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
}

.menubar .account .adduser a {
  text-decoration: none;
  color: rgb(27, 152, 111);
}
.menubar .account .adduser a:hover {
  color: rgb(18, 77, 58);
}
.menubar .account .areacode {
  font-size: 14px;
  margin: 0 10px;
  cursor: pointer;
}
.menubar .account .login {
  font-size: 14px;
  margin: 0 10px;
  color: rgb(27, 152, 111);
  cursor: pointer;
}
.menubar .account .login:hover {
  color: rgb(18, 77, 58);
}
.menubar .account .login a {
  text-decoration: none;
  color: rgb(27, 152, 111);
}
.menubar .account .login a:hover {
  color: rgb(18, 77, 58);
}

/*End of menu bar*/
.container {
  max-width: 100%;
  margin: auto;
  min-height: 100vh;
}
.container .row {
  display: flex;
  bmorder: solid green;
  height: 100%;
}
/*Column one*/
.container .row .column.one {
  borsder: solid blue;
  width: 25%;
  padding: 10px;
}
.container .row .column.one h3 {
  font-weight: 600;
  text-align: center;
  font-size: 20px;
}
.container .row .column.one p {
  font-size: 17px;
  font-weight: 400;
  text-align: center;
}
.container .row .column.one .filter {
  padding: 5px;
  background-color: #ebeaea;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  justify-content: center;
}

.container .row .column.one .filter label {
  display: flex;
  font-size: 14px;
  font-weight: 600;
  align-items: center;
  margin: 0 3px;
}

.container .row .column.one .filter input[type="text"],
.container .row .column.one .filter select {
  width: 30%;
  padding: 8px;
  border: solid #ccc 1px;
  border-radius: 5px;
  outline: none;
  font-weight: 600;
  color: #fff;
  font-size: 14px;
  background: rgb(90, 122, 151);
  margin: 0 5px;
}

.container .row .column.one .filter button {
  display: block;
  width: 30%;
  background-color: #4caf50;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.container .row .column.one .filter button:hover {
  background-color: #45a049;
}
.container .row .column.one .crime-statistics {
  margin-top: 20px;
  width: 300px;
  padding: 10px;
  border-left: solid;
  overflow: auto;
  height: 230px;
  overflow: auto;
}
.container .row .column.one .crime-statistics p {
  text-align: left;
}
/*End column one*/

/*Column two*/
.container .row .column.two {
  bordser: solid blue;
  width: 50%;
  padding: 10px;
}
.container .row .column.two h3 {
  text-align: center;
}
.container .row .column.two .real-time-footage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  border: solid green 1px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.container .row .column.two .real-time-footage iframe {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.container .row .column.two .analytics {
  display: flex;
  border: solid grey 1px;
}
.container .row .column.two .analytics .alert {
  border: solid black 1px;
  width: 50%;
  padding: 10px;
  text-align: center;
}
.container .row .column.two .analytics .alert h4 {
  font-weight: 600;
  color: #4d89bb;
}
.container .row .column.two .analytics .alert p {
  font-weight: 500;
  font-size: 15px;
  text-align: left;
}

.container .row .column.two .analytics .heatmap {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  border: solid 1px black;
}
.container .row .column.two .analytics .heatmap img {
  width: 250px;
  height: 200px;
  border: solid grey 1px;
}
.container .row .column.two .heatmap img {
  width: 100%;
  height: 100%;
}
/*End column two*/

/*Column three*/
.container .row .column.three {
  baorder: solid blue;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .row .column.three .face-recognition {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
  border: solid green 1px;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
}
.container .row .column.three .face-recognition img {
  height: 250px;
  width: 250px;
  border: solid rgb(223, 118, 14) 2px;
  border-radius: 10px;
}
.container .row .column.three .suspect-description {
  margin-top: 20px;
  width: 300px;
  padding: 10px;
  border-left: solid;
  overflow: auto;
  height: 300px;
  overflow: auto;
}
.container .row .column.three .suspect-description h4,
.container .row .column.one .crime-statistics h4 {
  font-weight: 600;
  color: #4d89bb;
}
.container .row .column.three .suspect-description p,
.container .row .column.one .crime-statistics p {
  font-weight: 500;
  font-size: 15px;
}
.container .row .column.three .suspect-description p span,
.container .row .column.one .crime-statistics p span {
  color: #4d89bb;
  font-size: 14px;
}
/*End column three*/
